<!doctype html>
<title>Homework 1 (HTML) - CS 3550</title>
<meta charset="UTF-8"></meta>
<link rel="icon" href="/static/favicon.ico"></link>
<link rel="stylesheet" href="/static/main.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

<!--NavBar-->
<header>
    <nav>
        <h3>
            <div>CS 3550</div>
            <div class="assignments"><a href="/" title="Assignments">Assignments</a></div>
            <div class="profile"><a href="/profile/" title="Profile">Profile</a></div>
        </h3>
    </nav>
</header>

<!--Assignment Content-->
<main>
    <div>
        <h1>{{ title }}</h1>
        <p>Due {{ deadline }}, total of {{ points }} point{{ points|pluralize }}<p>
        <section>
            <p>Currently {{ submissions }}/{{ student_count }} submissions</p>
            <div>
                <p>{{ submissions }} submission{{ submissions|pluralize }} assigned to you</p>
                <a href="submissions/" title="Submissions" role="button">Grade</a>      
            </div>
        </section>

        <h4>Description</h4>
        {{ description | safe}}
    </div>
</main>
