<!doctype html>
<title>Your grades - CS 3550</title>
<meta charset="UTF-8"></meta>
<link rel="icon" href="/static/favicon.ico"></link>
<link rel="stylesheet" href="/static/main.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

{% include 'header.html' %}

<!--Grades list-->
<main>
    <div>
        <h1>Your grades</h1>
        <section>
            <div>
                <p>Currently logged in as {{ user.get_full_name }}.</p>
                <a href="logout/" title="Log out" role="button">Log out</a>
            </div>
        </section>

        {% if user_role == "student" %}
        <button class="hypothesizeButton">Hypothesize</button>
        {% endif %}

        <table class="sortable">
            <thead>
                <tr>
                    <th class="txtcol">Assignment</th>
                    {% if user_role == "admin" or user_role == "ta" %}
                    <th class="sort-column">Graded</th>
                    {% endif %}
                    {% if user_role == "student" %}
                    <th class="sort-column">Score</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for assignment in assignments %}
                <tr data-index="{{ forloop.counter }}">
                    <td><a href="/{{ assignment.id }}/" title="{{ assignment.title }}">{{ assignment.title }}</a></td>
                    {% if user_role == "student" %}
                    <td class="numcol" data-weight="{{ assignment.weight }}" data-value="{% if assignment.status == 'Graded' %}{{ assignment.score |floatformat:2 }}%{% else %}{{ assignment.status }}{% endif %}">
                        {% if assignment.status == 'Graded' %}{{ assignment.score |floatformat:2 }}%{% else %}{{ assignment.status }}{% endif %}
                    </td>
                    {% endif %}
                    {% if user_role == "admin" or user_role == "ta" %}
                    <td class="numcol" data-value="{{ assignment.submissions_graded }}/{{ assignment.submission_count }}">{{ assignment.submissions_graded }}/{{ assignment.submission_count }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
            {% if user_role == "student" %}
            <tfoot>
                <tr>
                    <th class="txtcol">Final Grade</th>
                    <th class="numcol">{{ current_grade|floatformat:2 }}%</th>
                </tr>
            </tfoot>
            {% endif %}
        </table>
    </div>
</main>