<!doctype html>
<title>Submissions- Homework 1 - CS 3550</title>
<meta charset="UTF-8"></meta>
<link rel="icon" href="/static/favicon.ico"></link>
<link rel="stylesheet" href="/static/main.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">


{% include 'header.html' %}

<!--Homeowrk 1 Submissions-->
<main>
    <div>
        <h1>{{ assignment.title }}</h1>
        <p>All grades out of {{ points }}</p>

        <form action="/{{ assignment.id }}/submissions" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th class="txtcol">Student</th>
                <th class="txtcol">Submission</th>
                <th class="txtcol">Grade</th>
            </tr>
            {% for submission in submissions %}
            <tr>
                <td class="txtcol">{{ submission.author.get_full_name }}</td>
                <td class="txtcol"><a href="{{ submission.file.url }}" title="View Submission {{ submission.id }}">Submission</a></td>
                <td class="txtcol"><label for="grade1"></label><input id="grade1" name="spinbox" type="number" min="0" max="100" step="1" value="{{ submission.score }}" title="Enter in a grade"></td>
            </tr>
            {% endfor %}
            <div class="submitdiv">
                <input type="submit" value="Submit" title="Submit Grades" class="submitbtn">
                <a href="/{{ assignment.id }}" title="Back to Assignment Page">Back to Assignment</a>    
            </div>
        </form>
    </div>
</main>