/* Phase 2 CSS Code */
body {
    font-family: "IBM Plex Sans", Arial, serif;
    line-height: 1.25;
  }

code {
    font-family: "IBM Plex Mono", Arial, serif;
  }

nav {
    font-size: 125%;
}

nav h1{
    font-weight: bold;
}

nav h1 a{
    font-weight: 400;
    color: darkgray;
    text-decoration: none;
}

main h1 {
    font-size: 150%;
}

main h4{
    font-size: 100%;
}

main form{
    font-size: 125%;
}

table {
    line-height: 1.5;
}

/* Phase 3 */
nav h1 a:hover{
    text-decoration: underline;
}

table {
    width: 100%;
}

.numcol {
    text-align: right;
}

.txtcol {
    text-align: left;
}

main form {
    gap: 1rem;
}

main form div input{
    width: 50%;
    text-align: right;
}

.loginbtn {
    text-align: center;
    justify-content: center;
}

/* Phase 4 */
body {
    margin: 0%;
    padding: 0%;
}

nav {
    background-color: #ddd;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

main section {
    background-color: #b1c3de;
    border: 3px solid #204a87;
    padding: 10px;
}

header {
    margin-bottom: 3rem;
}

header nav {
    padding: 0.5rem 1rem;
}

main {
    padding: 0.5rem 1rem;
}

main h1{
    padding-bottom: 1rem;
    border-bottom: 2px solid #ddd;
}

main section{
    margin-bottom: 1rem;
}

main h4{
    margin-bottom: 1rem;
}

main p{
    margin-bottom: 1rem;
}

main ul{
    margin-bottom: 1rem;
}

main li{
    margin-bottom: 1rem;
}

main table{
    margin-bottom: 1rem;
}