/* Phase 2 CSS Code */
body {
    font-family: "IBM Plex Sans", Arial, serif;
    line-height: 1.25;
  }

code {
    font-family: "IBM Plex Mono", Arial, serif;
  }

nav {
    font-size: 125%;
}

nav h1{
    font-weight: bold;
}

nav h1 a{
    font-weight: 400;
    color: darkgray;
    text-decoration: none;
}

main h1 {
    font-size: 150%;
}

main h4{
    font-size: 100%;
}

main form{
    font-size: 125%;
}

table {
    line-height: 1.5;
}

/* Phase 3 */
nav h1 a:hover{
    text-decoration: underline;
}

table {
    width: 100%;
}

.numcol {
    text-align: right;
}

.txtcol {
    text-align: left;
}

main form {
    gap: 1rem;
}

main form div input{
    width: 50%;
    text-align: right;
}

.loginbtn {
    text-align: center;
    justify-content: center;
}